@import "../commons/helpers";

$form-width: 330px;
$form-height: 450px;

.register-form {
    width: $form-width;
    height: $form-height;

    &_long-shadow {
        @include flat-long-shadow($form-width, $form-height, 4px, 300px, 45deg, 0.35);
    }
}
