@import "./components/commons/variables";

.app__page {
    display: flex;
    justify-content: space-around;
    width: 100vw;
    height: 100vh;
    padding: 109px 0;

    color: $dark-color;

    overflow: hidden;

    &_login {
        background-color: $primary-color1;
    }
    &_register {
        background-color: $primary-color2;
    }
}
